# .flake8
[flake8]
max-line-length = 88

# Don’t even scan these directories
exclude =
    .venv/,
    venv/,
    __pycache__/,
    tests/,
    research/,
    strategy/

# If there are still a couple stray errors in your app code you can
# per-file-ignore them here
per-file-ignores =
    backtest.py: E303,E305,E501
    broker.py: E302,E501
    main.py: F841
    meta_optimize.py: W292
    config_manager.py: E302,E501,F841
    data/news.py: E302
    app.py: E501

    manager.py: 
    oanda_bot/strategy/macd_trends.py: E302,E303,E501,E221,E203,W292
    oanda_bot/research/template/strategy_template.j2.py: E999
    oanda_bot/backtest.py: E221,E272
    oanda_bot/optimize.py: E501
    oanda_bot/research/auto_strategy_generator.py: E999
    oanda_bot/research/run_research.py: E265,E501,E402,F811,E302,E305
    oanda_bot/strategy/base.py: W292
